{
  "MYCALL": "K1FSY-9",
  "MYALIAS": "",
  "MYLOCATION": "",
  "UNPROTO": "CQ",
  "DIGIPEAT": "OFF",
  "MONITOR": "ON",
  "DEBUGFRAMES": "off",
  "TXDELAY": "40",
  "PERSIST": "63",
  "SLOTTIME": "10",
  "TXTAIL": "10",
  "DUPLEX": "0",
  "MAXFRAME": "7",
  "FRACK": "3000",
  "PACLEN": "128",
  "USERS": "1",
  "RETRY": "3",
  "BEACON": "OFF",
  "BEACON_INTERVAL": "10",
  "BEACON_PATH": "WIDE1-1",
  "BEACON_SYMBOL": "/[",
  "BEACON_COMMENT": "UV-50Pro Console",
  "AGWPE_PORT": "8000",
  "TNC_PORT": "8001",
  "WEBUI_PORT": "8002"
}